<%- include ('./partials/staff_header') -%>
<div class="wrapper">


  <div class="profile-card js-profile-card">

    <div class="profile-card__cnt js-profile-cnt">
      <div class="profile-card__name mt-5"><h4><%=firstName%></h4></div>
      <div class="profile-card__txt"></div>
      <div class="profile-card-loc">

      </div>

      <div class="profile-card-inf">
        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">
          <a href="#current_timesheet" class="btn btn-sm btn-outline-info timesheet" id="#current_timesheet" name="<%= row[0].week_ending %>" data-toggle="modal" role="button"><%=row[0].week_ending%></a>
            </div>
          <div class="profile-card-inf__txt">Current Timesheet</div>

        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">$10/hr<i class="fas fa-cash-register"></i></div>
          <div class="profile-card-inf__txt">Salary</div> 
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">.5</div>
          <div class="profile-card-inf__txt">Years Employed</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">Labor</div>
          <div class="profile-card-inf__txt">Position</div>
        </div>
      </div>

      </div>

    </div>

        <div id="current_timesheet" class="modal mt-5" data-easein="flash" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">

                        </button>
                        <h4 class="modal-title">
                            Timesheet
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p id="timesheet_data">

                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                                            Close
                                        </button>
                        <button class="btn btn-primary">
                                            Save changes
                                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>


<%- include ('./partials/staff_footer') -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js" integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous">


</script>
<script>
  $(".timesheet").click(function (e) {
    e.preventDefault();
    let $this = $(this);

    $.ajax({
        type: 'GET',
        url: '/employees/timesheets/view/current',
        dataType: "json",
        data: {week_ending: $this.attr('name')},
        success: function(result) {
          let timesheet = result.rows;
          let daysWorked = result.daysWorked;
          let locationsWorked = result.locationsWorked;

          console.log(locationsWorked)
          // timesheet.forEach(item => {
          //
          // })
          if($('#timesheet_data').children().length === 0) {
            $('#timesheet_data').append(`<h5>${timesheet[0].week_ending}</h5>`)
          daysWorked.forEach(day => {

            $('#timesheet_data').append(`<ul class="list-group"><li class="list-group-item list-group-item-primary">${day}</li>`)
            timesheet.forEach((item, index, self) => {

              if(moment(item.date_worked).format('dddd') === day) {
                  if($('#' + item.location + '_' + day).length === 0) {
                    $('#timesheet_data').append(`<ul class="list-group"><li class="list-group-item float-right list-group-item-info"><span id="${item.location}_${day}" class="float-left">${item.location}</span></li>`)
                      for(let i =0; i < timesheet.length; i++) {

                      }

                  }  
                     }
         
                  

              });

          });

        }
        

        }
    })
  });

</script>