<%- include ('../partials/staff_header') %>
<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-xs-12 mt-5">
      <h2 class="mx-auto">Timesheet for <%= firstName  %> <%= lastName %></h2>
    </div>
  </div>
  <form action="./" method="POST" class="form mx-auto mt-5">
    <input type="hidden" value="<%=email%>" name="email">

    <div class="form-row mx-auto" class="timesheet">
      <div class="col-sm-12 col-md-12 form-group">
        <label class="control-label" for="date_worked">
          <h4>Date</h4>
        </label>
        <input v-model="taskForm[0].taskDate" id="datepicker" class="form-control" type="date" name="timesheet[dateWorked]" placeholder="Enter Location" />

      </div>
      <br>
      <div id="timesheet">
        <div class="col-md-12 form-group">
          <label class="control-label" for="location_worked">Location</label>
          <input v-model="taskForm[0].taskLocation" id="location_worked" class="form-control location-worked" type="text" name="timesheet[location]" placeholder="Enter Location" />
        </div>

        <br><br>

        <div v-for="(task, index) in taskInfo" class="form-row mx-auto timesheet tasks" id="tasks">
          <div class="col-md-4 form-group">
            <label class="control-label" for="task_name"><span class="text-black-50">Task
                {{index}}</span></label>
            <input v-model="taskInfo[index].taskName" class="form-control tasks task-names" type="text" :name="'timesheet[tasks][' + index + '][taskName]'" placeholder="Task Performed..." />
          </div>

          <div class="col-md-4 form-group">
            <label class="control-label" for="date_worked">Hours on Task</label>
            <input v-model="taskInfo[index].taskHours" id="hours_worked" class="form-control tasks task-hours" type="number" :name="'timesheet[tasks][' + index + '][hours]'" placeholder="Hours..." />
          </div>

          <div class="col-md-4 form-group">
            <label class="control-label" for="date_worked">Minutes on Task</label>
            <input v-model="taskInfo[index].taskMinutes" id="minutes_worked" class="form-control tasks task-minutes" type="number" :name="'timesheet[tasks][' + index + '][minutes]'"
              placeholder="Minutes..." />
          </div>
        </div>

        <div class="col-md-12 mt-auto">
          <div class="btn-group w-100" role="group" aria-label="Basic example">
            <button @click="removeTask" type="button" class="btn btn-danger form-control">Delete</button>
            <button @click="addNewTask" type="button" class="btn btn-primary form-control">Add Task</button>
          </div>
        </div>

        <br>

        <div class="col-md-12 mt-auto">
          <div class="btn-group w-100" role="group" aria-label="Basic example">
            <button @click="addNewLocation();" v-on:click="addLocationClicked = true" type="button" id="" class="btn btn-primary form-control">Add Location</button>
          </div>
        </div>
        <div class="col-md-12 form-group">
          <%# Added Locations #%>
          <div v-for="(location, i) in additionalLocations">
            <div v-if="addLocationClicked">
              <label class="control-label" for="location_worked">Location</label>

              <input v-model="additionalLocations.input" id="location_worked" class="form-control location-worked" type="text" :name="'timesheet[location][' + i +']'" placeholder="Enter Location" />
            </div>
            <div class="col-md-4 form-group">

              <label class="control-label" for="task_name"><span class="text-black-50">Task
                  {{i}}</span></label>
              <input v-model="additionalLocations.taskName" class="form-control tasks task-names" type="text" :name="'timesheet[tasks][' + i + '][taskName]'" placeholder="Task Performed..." />

            </div>

            <div class="col-md-4 form-group">

              <label class="control-label" for="date_worked">Hours on Task</label>
              <input v-model="additionalLocations.taskHours" id="hours_worked" class="form-control tasks task-hours" type="number" :name="'timesheet[tasks][' + i + '][hours]'"
                placeholder="Hours..." />

            </div>

            <div class="col-md-4 form-group">

              <label class="control-label" for="date_worked">Minutes on Task</label>
              <input v-model="additionalLocations.taskMinutes" id="minutes_worked" class="form-control tasks task-minutes" type="number" :name="'timesheet[tasks][' + i + '][minutes]'"
                placeholder="Minutes..." />

            </div>
            <div class="col-md-12 mt-auto">
              <div class="btn-group w-100" role="group" aria-label="Basic example">
                <button @click="removeTask" type="button" class="btn btn-danger form-control">Delete</button>
                <button @click="addNewTask" type="button" class="btn btn-primary form-control">Add Task</button>
              </div>
            </div>

          </div>
        </div>


      </div>

    </div>

</div>



<div class="col-md-2 mt-5">
  <div class="row" role="group" aria-label="Basic example">
    <button type="submit" class="btn btn-primary form-control">Submit</button>
  </div>
</div>

<%# Verification Modal %>
<a href="#costumModal31" role="button" id="verify" class="btn btn-success" data-toggle="modal">Test</a>

<div id="costumModal31" class="modal mt-5" data-easein="flash" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Timesheet
        </h4>
        <button type="button" class="close ml-5" data-dismiss="modal" aria-hidden="true">

        </button>


      </div>

      <div class="modal-body">
        <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
          <tbody id="verify_table">
            <div v-for="(task, index) in taskInfo" class="form-row mx-auto timesheet tasks" id="tasks">
              {{task.taskLocation}}
            </div>
          </tbody>


        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>
        <button class="btn btn-primary">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
</form>
</div>
</div>
<%- include ('../partials/staff_footer') -%>
<!-- <script src="/public/js/employees/components/timesheet.js"></script> -->
<script type="text/javascript" src="/public/js/newTimesheetVue.js"></script>