<%- include ('../partials/admin_header') -%> <% console.log(dates)%>
<div class="container-fluid mx-auto mt-5 pt-5">
  <div class="row w-100">
    <div class="col-sm-12">
      <h4 class="mx-auto w-100">
        Timesheet <%= employee.first_name %> <%= employee.last_name %>
      </h4>
    </div>
  </div>
  <table id="verify_timesheet" class="table table-border dt-responsive nowrap" style="width:100%">
    <thead>
      <tr class="table-success">
        <td colspan="3">
          Week Ending: <%# moment(timesheet[0].week_ending).format('MM-DD-YYYY')
          %>
          <span class="">
            <%= moment(timesheet[0].week_ending).format('MMM Do YYYY') %>
          </span>
        </td>
      </tr>

      <% daysWorked.forEach(day => { %>
      <tr id="<%= day %>" class="table-primary">
        <th colspan="3"><%= day %></th>
      </tr>
    </thead>
    <tbody>
      <% let usedLocations = [] %> <% _.forEach(timesheet, item => { %> <% let
      locationId = item.location + '_' + item.date_worked %> <%
      if(moment(item.date_worked).format('dddd') === day) { %> <%
      if(!_.some(usedLocations, { 'day': day, 'location': item.location})) {%>
      <% usedLocations.push({'day': day, 'location': item.location}) %>
      <tr id="<%=locationId%>" class="table-secondary">
        <td colspan="3">
          <%= item.location %>
        </td>
      </tr>

      <% } %>

      <tr>
        <td><%= item.task_type %></td>
        <td><%= item.task_minutes %></td>
        <td></td>
      </tr>
      <% } %> <% }) %>
    </tbody>

    <%})%>
    <tr class="table-info">
      <td colspan="2">
        <span class="text-dark">
          <% if(getHoursMinutes(timesheet[0].total_minutes_worked).h) {%> <%=
          getHoursMinutes(timesheet[0].total_minutes_worked).h %>h <%}%> <%
          if(getHoursMinutes(timesheet[0].total_minutes_worked).m) {%>
        </span>
        <%= getHoursMinutes(timesheet[0].total_minutes_worked).m %>m <%}%>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-sm btn-primary"
          data-toggle="modal"
          data-target="#verify_modal">
          Verify
        </button>
      </td>
    </tr>
  </table>

  <div
    class="modal fade"
    id="verify_modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <div
      class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
      role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">
            Accept Timesheet
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-unstyled">
            <li>
              <span class="text-primary">Employee:</span>
              <span class="text-black-50">
                <%= employee.first_name %> <%= employee.last_name %>
        </span>
        </li>

        <li>
          <span class="text-primary">
            Week Ending:
          </span>
          <span class="text-black-50"><%=moment(timesheet[0].week_ending).format('MM-DD-YYYY')%></span>
        </li>
        <li>
          <span class="text-primary">Hours Worked:</span>

          <span class="text-black-50">
            <% if(getHoursMinutes(timesheet[0].total_minutes_worked).h) {%>
            <%= getHoursMinutes(timesheet[0].total_minutes_worked).h %>h
            <%}%> <%
                if(getHoursMinutes(timesheet[0].total_minutes_worked).m) {%> <%=
                getHoursMinutes(timesheet[0].total_minutes_worked).m %>m <%}%>
              </span>
            </li>
            <li>
              <span class="text-primary">Pay:</span>
              <span class="text-black-50">
                $400
              </span>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Employee Paid</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/staff_footer') -%>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"></script>